.footer {
  padding-top: 45px;
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70px;
}
@media (min-width: 1024px) {
  .footer {
    background-image: url("../images/footer-bg-desk.jpg");
  }
}
@media (min-width: 1440px) {
  .footer {
    padding-top: 108px;
  }
}
.footer svg {
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .footer svg {
    position: absolute;
    width: 300px;
    height: 80px;
    top: -15px;
    left: 25px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .footer svg {
    left: 45px;
    width: 352px;
    height: 109px;
  }
}

@media (min-width: 1024px) {
  .container-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}

.footer__contacts {
  padding-bottom: 20px;
  border-bottom: 1px solid #bee1c2;
}
@media (min-width: 1024px) {
  .footer__contacts {
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: none;
    order: 2;
  }
}
@media (min-width: 1440px) {
  .footer__contacts {
    width: 260px;
  }
}

.footer__contacts-title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: var(--light-green);
  margin-bottom: 25px;
}
@media (min-width: 1440px) {
  .footer__contacts-title {
    font-size: 26px;
    line-height: 35px;
  }
}

.footer__contacts-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
@media (min-width: 1024px) {
  .footer__contacts-items {
    display: flex;
    flex-direction: column;
  }
}

.footer__contacts-item {
  position: relative;
  padding-left: 29px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #7b897d;
}
@media (min-width: 1024px) {
  .footer__contacts-item {
    padding: 10px 29px;
  }
}
@media (min-width: 1440px) {
  .footer__contacts-item {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer__contacts-item--phone {
  order: 1;
}
@media (min-width: 1024px) {
  .footer__contacts-item--phone {
    border-bottom: 1px solid #bee1c2;
  }
}
.footer__contacts-item--phone::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/phone-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
}
.footer__contacts-item--order {
  order: 3;
}
@media (min-width: 1024px) {
  .footer__contacts-item--order {
    order: 2;
  }
}
.footer__contacts-item--mail {
  order: 6;
}
@media (min-width: 1024px) {
  .footer__contacts-item--mail {
    order: 3;
    border-bottom: 1px solid #bee1c2;
  }
}
.footer__contacts-item--mail::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 13px;
  background-image: url("../images/footer-mail.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer__contacts-item--calendar {
  order: 2;
}
.footer__contacts-item--calendar br {
  display: none;
}
@media (min-width: 1024px) {
  .footer__contacts-item--calendar {
    order: 4;
  }
  .footer__contacts-item--calendar br {
    display: block;
  }
}
.footer__contacts-item--calendar::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/footer-calendar.png");
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
}
.footer__contacts-item--adress {
  order: 5;
}
.footer__contacts-item--adress::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  background-image: url("../images/footer-pin.png");
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
}

.footer__form {
  width: 290px;
}

.footer__contacts-link {
  color: #7b897d;
  line-height: 16px;
}

@media (min-width: 1024px) {
  .footer__feedback {
    order: 3;
  }
}

.footer-feedback__title {
  padding-top: 30px;
}
@media (min-width: 640px) {
  .footer-feedback__title {
    text-align: center;
    font-size: 22px;
    line-height: 29px;
  }
}
@media (min-width: 1024px) {
  .footer-feedback__title {
    width: 290px;
    text-align: left;
    padding-top: 0;
    font-weight: inherit;
  }
}
@media (min-width: 1440px) {
  .footer-feedback__title {
    font-size: 26px;
    line-height: 35px;
  }
}

.footer-feedback__submit {
  margin-bottom: 40px;
}

.footer__text {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 23px;
  color: #7ca381;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #78c081;
}
@media (min-width: 1024px) {
  .footer__text {
    width: 300px;
    padding-top: 100px;
  }
}
@media (min-width: 1440px) {
  .footer__text {
    padding-top: 130px;
    width: 406px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 35px;
  }
}

.footer__caption {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--light-green);
}
@media (min-width: 1440px) {
  .footer__caption {
    font-size: 18px;
    line-height: 24px;
  }
}
.footer__caption span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #78c081;
}
@media (min-width: 1440px) {
  .footer__caption span {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) {
  .footer__items {
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .footer__item.feedback__item {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .footer__description {
    order: 1;
  }
}

/*# sourceMappingURL=footer.css.map */
