@font-face {
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Proxima/proximanova_regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Proxima/proximanova_bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ruberoid", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Ruberoid/Ruberoid-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ruberoid", sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Ruberoid/Ruberoid-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ruberoid", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Ruberoid/Ruberoid-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ruberoid", sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Ruberoid/Ruberoid-Light.woff2") format("woff2");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family, sans-serif);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.74;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 350px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

:root {
  --font-family: "Proxima Nova", "Arial", sans-serif;
  --light-white: #ffffff;
  --light-green: #495e4c;
  --darken-color: #313743;
  --dark-color: #000000;
}

.header {
  min-height: 100vh;
  padding-top: 22px;
  background-image: url("../images/mobile-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 1080px) {
  .header {
    background-image: url("../images/deask-bg.jpg");
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 73px;
}

.header__burger-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;
  border-radius: 15px;
  background-color: var(--light-white);
  box-shadow: 0px 4px 10px 0px rgba(73, 93, 76, 0.15);
  cursor: pointer;
  z-index: 5;
}
.header__burger-btn svg rect.rect {
  transition: all 0.5s;
}
.header__burger-btn:hover svg rect.rect {
  width: 6px;
  x: 19;
  transition: all 0.3s;
}
.header__burger-btn:hover svg rect.rect1 {
  width: 16px;
  transition: all 0.3s;
}
@media (min-width: 1080px) {
  .header__burger-btn {
    display: none;
  }
}
.header__burger-btn::before {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  background-color: rgba(255, 255, 255, 0.45);
  top: -10px;
  border-radius: 20px;
}
@media (min-width: 1080px) {
  .header__burger-btn::before {
    display: none;
  }
}

.logo__link {
  display: block;
}
.logo__link svg {
  width: 168px;
  height: 53px;
}
@media (min-width: 1080px) {
  .logo__link {
    width: 196px;
    height: 61px;
  }
}

.header__btn {
  display: none;
}
@media (min-width: 1080px) {
  .header__btn {
    display: block;
  }
}

.header__box-title {
  max-width: 290px;
  margin: 0 auto;
}

.header__title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  text-transform: capitalize;
  text-align: center;
  color: #495e4c;
}
.header__title--solid {
  position: relative;
  text-align: right;
}
.header__title--solid::before {
  content: "";
  position: absolute;
  width: 98px;
  height: 2px;
  color: #78c081;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header__title--company {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #78c081;
  z-index: -1;
}

.nav {
  position: absolute;
  padding-top: 100px;
  top: 0;
  left: 0;
  right: 0;
  height: 484px;
  width: 100%;
  background-color: #d9fadd;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 5;
}
@media (min-width: 1080px) {
  .nav {
    display: block;
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    border-radius: 0;
    padding-top: 0;
    transform: none;
  }
}
.nav.nav-open {
  transform: translateX(0%);
}

.nav__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 1080px) {
  .nav__items {
    flex-direction: row;
    gap: 40px;
  }
}

.nav__item {
  font-size: 15px;
  text-transform: lowercase;
  color: var(--light-green);
}

.nav__link {
  font-size: 20px;
  color: var(--light-green);
}

/*# sourceMappingURL=style.css.map */
