.application {
  margin-bottom: 70px;
  background-image: url("../images/application-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 125px;

  @media (min-width: 1024px) {
    background-image: url("../images/application-bg-desk.png");
    background-position-y: 5px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 57px;
  }
}

.application__title-box {
  padding-bottom: 56px;

  @media (min-width: 1024px) {
    max-width: 635px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    max-width: 1020px;
    padding-bottom: 85px;
  }
}

.application__text {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  color: var(--light-green);
  text-transform: capitalize;

  @media (min-width: 1440px) {
    font-size: 45px;
    line-height: 60px;
  }

  &--solid {
    position: relative;
    padding-right: 115px;

    &::before {
      content: "";
      position: absolute;
      width: 106px;
      height: 2px;
      background-color: #78c081;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: 640px) {
        left: 205px;
      }

      @media (min-width: 1024px) {
        width: 186px;
        bottom: -20px;
        left: 10px;
        transform: none;
        top: auto;
      }

      @media (min-width: 1440px) {
        width: 335px;
        bottom: -36px;
      }
    }
  }
}

.application__seats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 15px;
  padding-bottom: 33px;

  @media (min-width: 640px) {
    gap: 30px 40px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 210px);
    justify-items: center;
    justify-content: space-between;
    gap: 25px 30px;
    padding-bottom: 40px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 257px);
    gap: 37px 45px;
  }
}

.application__card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 0px 10px rgba(73, 93, 76, 0.1));
  cursor: pointer;
}

.application__card-sticker {
  position: absolute;
  display: flex;
  align-items: center;
  width: 119px;
  height: 28px;
  background-color: #d9fadd;
  padding-left: 15px;
  font-weight: 600;
  font-size: 15px;
  color: var(--light-green);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
  top: 20px;

  @media (min-width: 640px) {
    top: 40px;
  }

  @media (min-width: 1024px) {
    top: 15px;
  }

  @media (min-width: 1440px) {
    top: 20px;
  }
}

.application__card-photo {
  @media (min-width: 640px) {
    width: auto;
  }
}

.application__card-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 20px 5px;
  background-color: var(--light-white);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: 1024px) {
    justify-content: flex-start;
    padding: 10px;
    min-height: 58px;
  }
}

.application__card-text {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #78c081;

  @media (min-width: 1024px) {
    font-size: 15px;
    line-height: 20px;
  }
}
