.feedback {
  background-color: #d9fadd;
  padding: 35px 0;
  opacity: 0;
  transform: translateY(50px);

  &.element-show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
  }

  @media (min-width: 1024px) {
    background-image: url("../images/svg/form-fan-desk.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.feedback__title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: var(--light-green);
  text-align: left;
  padding-bottom: 30px;

  @media (min-width: 1440px) {
    font-size: 35px;
  }
}

.feedback__form {
  @media (min-width: 640px) {
    width: 400px;
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    width: 900px;
    margin: 0;
  }
}

.feedback__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.feedback__items {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }
}

.feedback__item {
  &:not(:last-child) {
    @media (min-width: 1024px) {
      margin-right: 30px;
    }
  }
}

.feedback__input {
  position: relative;
  outline: none;
  width: 100%;
  padding: 20px;
  background-color: var(--light-white);
  border: 1px solid transparent;
  border-radius: 15px;
  filter: drop-shadow(0 0 12px rgba(73, 93, 76, 0.15));

  &::placeholder {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(124, 163, 129, 0.7);
  }

  &:valid:not(:placeholder-shown) {
    border-color: green;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }

  @media (min-width: 1024px) {
    min-width: 290px;
  }
}

.feedback__input:invalid:not(:placeholder-shown) + .feedback-form__error {
  display: block;
}

.feedback-form__error {
  position: absolute;
  display: none;
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
}

.feedback__submit {
  font-family: "Ruberoid", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--light-white);
  transition: all 0.3s ease;

  @media (min-width: 1024px) {
    &:hover:not(:disabled) {
      &.button--style {
        box-shadow: inset 2px -2px 12px rgb(34 111 33 / 36%),
          900px 0px 0px #54e165 inset;
      }
    }
  }

  &:disabled {
    box-shadow: inset 2px -2px 12px rgb(34 111 33 / 36%),
      600px 0px 0px rgba(34, 111, 33, 0.36) inset;

    @media (min-width: 640px) {
      box-shadow: inset 2px -2px 12px rgb(34 111 33 / 36%),
        600px 0px 0px rgba(34, 111, 33, 0.36) inset;
    }
  }

  @media (min-width: 1024px) {
    width: 229px;
  }
}
