.portfolio {
  position: relative;
  padding-bottom: 70px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/svg/portfolio-ellipse-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.container-portfolio {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.portfolio__title-box {
  margin-bottom: 25px;
}

.portfolio__title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: var(--light-green);

  @media (min-width: 1024px) {
    width: 330px;
  }

  @media (min-width: 1440px) {
    width: 394px;
    font-size: 45px;
    line-height: 60px;
  }
}

.portfolio__content {
  margin-bottom: 30px;

  @media (min-width: 1024px) {
    width: 600px;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    margin-top: 15px;
  }
}

.portfolio-swiper {
  @media (min-width: 1024px) {
    padding-top: 70px;
  }
}

.portfolio__text {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #848484;
}

.portfolio__figure {
  position: relative;
  margin: 0;
  padding: 0;

  @media (min-width: 640px) {
    width: 250px;
  }

  @media (min-width: 1440px) {
    width: 100%;
  }
}

.portfolio__slide-sticker {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 49px;
  background-color: #d9fadd;
  padding-left: 15px;
  font-weight: 600;
  font-size: 15px;
  color: var(--light-green);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  left: 0;
  top: 35px;
}

.portfolio__figcaption {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  text-transform: capitalize;
  bottom: 35px;
  left: 30px;

  @media (min-width: 640px) {
    max-width: 215px;
    left: 20px;
  }

  @media (min-width: 1024px) {
    bottom: 100px;
  }
}

.portfolio__caption {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: var(--light-white);
}

.portfolio__description {
  margin: 0;
  padding: 0;
  line-height: 26px;
  color: var(--light-white);
}

.portfolio-slide {
  padding-bottom: 80px;

  @media (min-width: 640px) {
    display: flex;
    justify-content: center;
  }
}

.portfolio__arrow-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 10;

  @media (min-width: 1024px) {
    transform: none;
    left: 30px;
    top: 25px;
    bottom: auto;
  }
}

.portfolio-prev,
.portfolio-next {
  position: static;
  width: 46px;
  height: 46px;
  &::after {
    content: "";
    width: 47px;
    height: 47px;
    background-image: url("../images/svg/arrow-next.svg");
    background-repeat: no-repeat;
  }
}

.portfolio-prev {
  &::after {
    transform: rotate(180deg);
  }
}
