.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  @media (min-width: 1024px) {
    max-width: 1170px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  @media (min-width: 1440px) {
    gap: 80px;
  }
}

.services__description {
  @media (min-width: 1024px) {
    max-width: 380px;
  }

  @media (min-width: 1440px) {
    max-width: 444px;
  }
}

.container-content {
  @media (min-width: 1024px) {
    width: 100%;
  }
}

.services__title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 5px;
  color: var(--light-green);

  @media (min-width: 1440px) {
    font-size: 45px;
    line-height: 60px;
  }

  &.services__title--solid {
    margin-bottom: 20px;
  }

  &--solid {
    position: relative;
    display: inline-block;
    padding-right: 175px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 160px;
      height: 2px;
      background-color: #78c081;
    }

    @media (min-width: 1440px) {
      padding-right: 280px;

      &::before {
        width: 245px;
      }
    }
  }
}

.services__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  color: #848484;

  &:last-child {
    margin-bottom: 30px;
  }

  @media (min-width: 1024px) {
    width: 285px;
  }

  @media (min-width: 1440px) {
    width: 444px;
    font-size: 16px;
    line-height: 26px;
  }
}

.services__options-wrapper {
  background-color: #d9fadd;
  padding-bottom: 10px;
  border-radius: 50px;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.services__options {
  @media (min-width: 1024px) {
    position: relative;
  }
}

.services__tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: 1024px) {
    position: absolute;
    width: 470px;
    left: -272px;
    background-color: #d9fadd;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    transform: translateY(-50%) rotate(-90deg);
    top: 50%;
    padding-top: 10px;
  }

  @media (min-width: 1440px) {
    width: 486px;
    left: -280px;
  }
}

.services__btn {
  width: calc(100% - 53%);
  padding: 24px 0px;
  font-size: 14px;
  line-height: 17px;
  background-color: var(--light-white);
  color: #7ca281;
  cursor: pointer;

  @media (min-width: 1024px) {
    position: relative;
    padding-right: 48px;
    background-repeat: no-repeat;

    &[data-button="content-1"]::before {
      content: "";
      position: absolute;
      background-image: url("../images/svg/condition.svg");
      background-size: 33px 27px;
      width: 33px;
      height: 27px;
      right: 15px;
      top: 22px;
      transform: rotate(90deg);
    }

    &[data-button="content-2"]::before {
      content: "";
      position: absolute;
      background-image: url("../images/svg/green-fan.svg");
      width: 33px;
      height: 33px;
      right: 15px;
      top: 18px;
    }

    &:not(.services__btn--active) {
      &:hover {
        color: #54e165;

        &[data-button="content-1"]::before {
          background-image: url("../images/svg/salat-condition.svg");
        }

        &[data-button="content-2"]::before {
          background-image: url("../images/svg/salat-fan.svg");
        }
      }
    }
  }

  &--active {
    background-color: #5ccd6a;
    box-shadow: none;
    color: var(--light-white);
    box-shadow: inset -2px -2px 12px rgba(34, 111, 33, 0.3);
    cursor: pointer;

    @media (min-width: 1024px) {
      &[data-button="content-1"]::before {
        background-image: url("../images/svg/white-condition.svg");
      }

      &[data-button="content-2"]::before {
        background-image: url("../images/svg/fan.svg");
      }
    }
  }

  &:first-child {
    border-radius: 40px 0px 0px 0px;
  }

  &:last-child {
    border-radius: 0px 40px 0px 0px;
  }
}

.services__options-content {
  display: none;

  &--active {
    display: block;
  }

  &[id="content-1"],
  &[id="content-2"] {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding-bottom: 160px;

    @media (min-width: 640px) {
      padding-bottom: 250px;
    }

    @media (min-width: 1024px) {
      width: 600px;
      height: 600px;
      padding-bottom: 0;
      background-position: center right;
      background-size: 200px 615px;
    }

    @media (min-width: 1440px) {
      width: 676px;
      height: 655px;
      background-position: 440px -8px;
      background-size: 240px 675px;
    }
  }

  &[id="content-1"] {
    background-image: url("../images/services-img1.png");

    @media (min-width: 1024px) {
      background-image: url("../images/services-img1-desk.png");
    }
  }

  &[id="content-2"] {
    background-image: url("../images/services-img.png");

    @media (min-width: 1024px) {
      background-image: url("../images/services-img-desk.png");
    }
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-wrapper {
  @media (min-width: 1024px) {
    margin-left: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 300px;
    padding-left: 20px;
    margin-right: 280px;
  }

  @media (min-width: 1024px) {
    min-width: 307px;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    min-width: 356px;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 270px;
  margin-bottom: 20px;
}

.services__item {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-green);
  padding-left: 45px;

  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    background-repeat: no-repeat;
  }

  &--icon1 {
    &::before {
      background-image: url("../images/svg/services-item1.svg");
    }
  }

  &--icon2 {
    &::before {
      background-image: url("../images/svg/services-item2.svg");
    }
  }

  &--icon3 {
    &::before {
      background-image: url("../images/svg/services-item3.svg");
    }
  }

  &--icon4 {
    &::before {
      background-image: url("../images/svg/services-item4.svg");
    }
  }

  &--icon5 {
    &::before {
      background-image: url("../images/svg/services-item5.svg");
    }
  }

  &--icon6 {
    &::before {
      background-image: url("../images/svg/services-item6.svg");
    }
  }

  &--icon22 {
    &::before {
      background-image: url("../images/svg/services-item22.svg");
    }
  }

  &--icon33 {
    &::before {
      background-image: url("../images/svg/services-item33.svg");
    }
  }

  &--icon44 {
    &::before {
      background-image: url("../images/svg/services-item44.svg");
    }
  }

  &--icon55 {
    &::before {
      background-image: url("../images/svg/services-item55.svg");
    }
  }

  &--icon66 {
    &::before {
      background-image: url("../images/svg/services-item66.svg");
    }
  }
}
