.steps {
  position: relative;
  margin-bottom: 70px;

  @media (min-width: 1024px) {
    background-image: url("../images/arrow-bg-desk.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 150px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 120px;
    background-size: 75%;
  }

  @media (min-width: 1800px) {
    background-size: 50%;
  }
}

.steps__title-box {
  padding-bottom: 520px;
  background-image: url("../images/arrow-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 60px;
  opacity: 0;
  transform: translateY(-50px);

  &.element-show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
    transition-delay: 0.2s;
  }

  @media (min-width: 640px) {
    margin-bottom: 50px;
    background-position: center 35px;
  }

  @media (min-width: 1024px) {
    background-image: none;
    min-width: 450px;
    padding-bottom: 0;
    order: 1;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    min-width: 516px;
  }
}

.container--flex {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    gap: 91px;
  }
}

.steps__text {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  color: var(--light-green);
  text-transform: capitalize;

  @media (min-width: 1440px) {
    font-size: 45px;
    line-height: 60px;
  }

  &--solid {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 62px;
      height: 2px;
      background-color: #78c081;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: 640px) {
        left: 235px;
      }

      @media (min-width: 1440px) {
        left: auto;
        right: 5px;
        width: 100px;
      }
    }
  }
}

.steps__offer {
  opacity: 0;
  transform: translateX(100px);

  &.element-show {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s ease;
    transition-delay: 0.3s;
  }

  @media (min-width: 1024px) {
    order: 2;
    margin-bottom: 65px;
  }
}

.steps__title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  color: #78c081;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.steps__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @media (min-width: 640px) {
    align-items: flex-start;
  }
}

.steps__element {
  line-height: 19px;
  color: #7ca381;
  padding-left: 32px;
  background-image: url("../images/svg/small-cooler.svg");
  background-repeat: no-repeat;
  background-position: left 3px;
}
