.application {
  margin-bottom: 70px;
  background-image: url("../images/application-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 125px;
  margin-bottom: 37px;
}

.application__title-box {
  padding-bottom: 56px;
}

.application__text {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  color: var(--light-green);
  text-transform: capitalize;

  &--solid {
    position: relative;
    padding-right: 115px;

    &::before {
      content: "";
      position: absolute;
      width: 106px;
      height: 2px;
      background-color: #78c081;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.application__seats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 15px;
  padding-bottom: 33px;
}

.application__card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  filter: drop-shadow(0px 0px 10px rgba(73, 93, 76, 0.1));
}

.application__card-sticker {
  position: absolute;
  display: flex;
  align-items: center;
  width: 119px;
  height: 28px;
  background-color: #d9fadd;
  padding-left: 15px;
  font-weight: 600;
  font-size: 15px;
  color: var(--light-green);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
  top: 20px;
}

.application__card-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 20px 5px;
  background-color: var(--light-white);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.application__card-text {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #78c081;
}
