.customers {
  position: relative;
  background-image: url("../images/svg/customes-waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 45px;

  @media (min-width: 1440px) {
    padding-top: 100px;
  }
}

.container-customers {
  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.customers__title {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  margin-bottom: 25px;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: var(--light-green);

  @media (min-width: 1440px) {
    font-size: 45px;
    line-height: 60px;
    width: 100%;
  }
}

.customers__content {
  margin-bottom: 35px;
}

.customers__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #848484;

  @media (min-width: 1440px) {
    width: 500px;
  }
}

.customers-swiper {
  @media (min-width: 1440px) {
    width: 50%;
  }
}

.customers-swiper-slider {
  padding-bottom: 76px;
  margin: 0 auto;

  img {
    margin: 0 auto;
  }
}

.customers__arrow-box {
  @media (min-width: 1024px) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    top: auto;
  }
}
