@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Proxima/proximanova_regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Proxima/proximanova_bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Ruberoid/Ruberoid-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Ruberoid/Ruberoid-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Ruberoid/Ruberoid-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ruberoid";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Ruberoid/Ruberoid-Light.woff2") format("woff2");
  font-display: swap;
}
