.nav {
  position: absolute;
  padding-top: 100px;
  top: 0;
  left: 0;
  right: 0;
  height: 484px;
  width: 100%;
  background-color: #d9fadd;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 1;

  @media (min-width: 1024px) {
    display: block;
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    border-radius: 0;
    padding-top: 0;
    transform: none;
  }

  &.nav-open {
    transform: translateX(0%);
  }
}

.nav__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 40px;
  }
}

.nav__item {
  font-size: 15px;
  text-transform: lowercase;
  color: var(--light-green);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;

  @media (min-width: 1024px) {
    &:hover {
      border-color: #78c081;
    }
  }
}

.nav__link {
  font-size: 20px;
  color: var(--light-green);

  @media (min-width: 1024px) {
    font-size: inherit;
    line-height: 18px;
  }

  @media (min-width: 1440px) {
    font-size: 20px;
  }
}
