.schematic {
  margin-bottom: 70px;
}

.schematic__title-box {
  margin-bottom: 25px;

  @media (min-width: 1024px) {
    margin-bottom: 100px;
  }
}

.schematic__content {
  @media (min-width: 1024px) {
    background-image: url("../images/svg/vector.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 215px 150px;
    background-size: 70%;
    z-index: -1;
  }
}

.schematic__title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: var(--light-green);

  @media (min-width: 1440px) {
    font-size: 45px;
    line-height: 60px;
  }
}

.schematic__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;

  @media (min-width: 1024px) {
    gap: 50px;
    margin-bottom: 70px;
  }

  @media (min-width: 1440px) {
    gap: 70px;
    margin-bottom: 100px;
  }
}

.schematic__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 315px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 640px) {
    width: 300px;
  }

  @media (min-width: 1024px) {
    width: 400px;
  }

  @media (min-width: 1440px) {
    width: 525px;
  }

  &:nth-child(odd) {
    margin-right: auto;
  }

  &:nth-child(2n) {
    align-items: flex-end;
    margin-left: auto;

    & .schematic__description {
      text-align: right;
    }
  }

  &--img1 {
    background-image: url("../images/svg/mail.svg");
    background-position-x: right;

    @media (min-width: 1024px) {
      &::before {
        content: "";
        position: absolute;
        width: 238px;
        height: 219px;
        background-image: url("../images/svg/mail-desk.svg");
        right: 50px;
        top: -80px;
        z-index: -1;
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 527px;
      //   height: 78px;
      //   bottom: -80px;
      //   right: -190px;
      //   background-image: url("../images/svg/vector1.svg");
      //   background-repeat: no-repeat;
      // }
    }
  }

  &--img2 {
    background-image: url("../images/svg/bulb-schematic.svg");
    background-position-x: left;

    @media (min-width: 1024px) {
      &::before {
        content: "";
        position: absolute;
        width: 279px;
        height: 246px;
        top: -90px;
        left: 10px;
        background-image: url("../images/svg/balb-schematic-desk.svg");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 527px;
    //   height: 78px;
    //   bottom: -105px;
    //   right: 110px;
    //   background-image: url("../images/svg/vector2.svg");
    //   background-repeat: no-repeat;
    //   z-index: -1;
    // }
  }

  &--img3 {
    background-image: url("../images/svg/home.svg");
    background-position-x: right;

    @media (min-width: 1024px) {
      &::before {
        content: "";
        position: absolute;
        width: 413px;
        height: 254px;
        right: -72px;
        top: -80px;
        background-image: url("../images/svg/home-desk.svg");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }

  &--img4 {
    background-image: url("../images/svg/graphic.svg");
    background-position-x: left;

    @media (min-width: 1024px) {
      &::before {
        content: "";
        position: absolute;
        width: 288px;
        height: 274px;
        top: -75px;
        left: -30px;
        background-image: url("../images/svg/graphic-desk.svg");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }

  &--img5 {
    background-image: url("../images/svg/contract.svg");
    background-position-x: right;

    @media (min-width: 1024px) {
      &::before {
        content: "";
        position: absolute;
        width: 275px;
        height: 282px;
        right: 60px;
        top: -80px;
        background-image: url("../images/svg/contract-desk.svg");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }

  &--img6 {
    background-image: url("../images/svg/car.svg");
    background-position-x: left;

    @media (min-width: 1024px) {
      &::before {
        content: "";
        position: absolute;
        width: 301px;
        height: 189px;
        top: -65px;
        left: -60px;
        background-image: url("../images/svg/car-desk.svg");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }

  &--img1,
  &--img2,
  &--img3,
  &--img4,
  &--img5,
  &--img6 {
    @media (min-width: 1024px) {
      background-image: none;
    }
  }
}

.schematic__caption,
.schematic__final {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: "Ruberoid", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 32px;
  color: #78c081;

  @media (min-width: 1440px) {
    font-size: 35px;
    line-height: 47px;
  }
}

.schematic__description {
  width: 250px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-green);

  @media (min-width: 640px) {
    width: auto;
  }

  @media (min-width: 1440px) {
    font-size: 16px;
    line-height: 26px;
  }
}

.schematic__final {
  text-align: center;
  line-height: 34px;
  margin-bottom: 0;
  padding-bottom: 55px;
  background-image: url("../images/svg/ok.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
