.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

  @media (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.services__description {
  @media (min-width: 1024px) {
    max-width: 400px;
  }
}

.services__title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 5px;
  color: var(--light-green);

  &.services__title--solid {
    margin-bottom: 20px;
  }

  &--solid {
    position: relative;
    display: inline-block;
    padding-right: 175px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 160px;
      height: 2px;
      background-color: #78c081;
    }
  }
}

.services__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  color: #848484;

  &:last-child {
    margin-bottom: 30px;
  }
}

.services__options {
  @media (min-width: 1024px) {
    position: relative;
    background-image: url("../images/services-img-desk.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
  }
}

.services__options-wrapper {
  background-color: #d9fadd;
  padding-bottom: 10px;
  border-radius: 50px;

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    max-width: 450px;
  }
}

.services__tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  min-width: 320px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: 1024px) {
    position: absolute;
    min-width: 400px;
    transform: rotate(-90deg);
    padding-top: 10px;
    left: -233px;
    background-color: #d9fadd;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-bottom: 0;
  }
}

.services__btn {
  width: calc(100% - 53%);
  padding: 24px 0px;
  font-size: 14px;
  line-height: 17px;
  background-color: #5ccd6a;
  color: var(--light-white);
  box-shadow: inset -2px -2px 12px rgba(34, 111, 33, 0.3);
  cursor: pointer;

  @media (min-width: 1024px) {
    padding: 20px 0;
  }

  &--active {
    background-color: var(--light-white);
    box-shadow: none;
    color: #7ca281;
  }

  &:first-child {
    border-radius: 40px 0px 0px 0px;
  }

  &:last-child {
    border-radius: 0px 40px 0px 0px;
  }
}

.services__options-content {
  display: none;

  @media (min-width: 1024px) {
    height: 510px;
    display: flex;
  }

  &--active {
    display: block;

    @media (min-width: 1024px) {
      height: auto;
    }
  }

  &[id="content-1"],
  &[id="content-2"] {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding-bottom: 160px;

    @media (min-width: 640px) {
      padding-bottom: 250px;
    }

    @media (min-width: 1024px) {
      padding-bottom: 0;
    }
  }

  &[id="content-1"] {
    background-image: url("../images/services-img.png");

    @media (min-width: 1024px) {
      background-image: none;
    }
  }

  &[id="content-2"] {
    background-image: url("../images/services-img1.png");

    @media (min-width: 1024px) {
      background-image: none;
    }
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-wrapper {
  @media (min-width: 1024px) {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 300px;
    padding-left: 20px;
    margin-right: 280px;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 270px;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    padding-top: 50px;
  }
}

.services__item {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: var(--light-green);
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    background-repeat: no-repeat;
  }

  &--icon1 {
    &::before {
      background-image: url("../images/svg/services-item1.svg");
    }
  }

  &--icon2 {
    &::before {
      background-image: url("../images/svg/services-item2.svg");
    }
  }

  &--icon3 {
    &::before {
      background-image: url("../images/svg/services-item3.svg");
    }
  }

  &--icon4 {
    &::before {
      background-image: url("../images/svg/services-item4.svg");
    }
  }

  &--icon5 {
    &::before {
      background-image: url("../images/svg/services-item5.svg");
    }
  }

  &--icon6 {
    &::before {
      background-image: url("../images/svg/services-item6.svg");
    }
  }

  &--icon22 {
    &::before {
      background-image: url("../images/svg/services-item22.svg");
    }
  }

  &--icon33 {
    &::before {
      background-image: url("../images/svg/services-item33.svg");
    }
  }

  &--icon44 {
    &::before {
      background-image: url("../images/svg/services-item44.svg");
    }
  }

  &--icon55 {
    &::before {
      background-image: url("../images/svg/services-item55.svg");
    }
  }

  &--icon66 {
    &::before {
      background-image: url("../images/svg/services-item66.svg");
    }
  }
}
