.skills {
  margin-bottom: 70px;
}

.container-skills {
  @media (min-width: 1024px) {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
  }

  @media (min-width: 1440px) {
    gap: 100px;
  }
}

.skills__box-content {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    width: 400px;
  }

  @media (min-width: 1440px) {
    width: 505px;
  }
}

.skills__title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 25px;
}

.skills__title {
  margin: 0;
  padding: 0;
  font-family: "Ruberoid", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: var(--light-green);

  @media (min-width: 1024px) {
    font-size: 45px;
    line-height: 60px;
  }
}

.skills__items {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin-bottom: 25px;
}

.skills__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
  border: 1px solid #78c081;
  border-radius: 20px;
}

.skills__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 30px;
}

.skills__text {
  position: relative;
  padding-left: 25px;
  line-height: 26px;
  font-weight: 400px;
  color: #7ca381;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #7ca381;
    border-radius: 50%;
    left: 0;
    top: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #7ca381;
    border-radius: 50%;
    left: 4px;
    top: 9px;
  }

  @media (min-width: 1024px) {
    line-height: 19px;
  }
}

.skills__description {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #848484;
}

.skills__feedback {
  font-family: "Ruberoid", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--light-white);
  transition: all 0.3s ease;

  &:hover {
    &.button--style {
      box-shadow: inset 2px -2px 12px rgb(34 111 33 / 36%),
        300px 0px 0px #54e165 inset;
    }
  }
}

.skills__box-images {
  display: none;

  @media (min-width: 1024px) {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    background-image: url("../images/svg/skills-ellipse-bg.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
  }
}
